@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:regular,bold,italic&subset=latin,latin-ext");

.App {
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}
