@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:regular,bold,italic&subset=latin,latin-ext");

.App {
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 4px;
  background: #1b1b1b;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  height: 100px;
  background: #1b1b1b;
  border-radius: 30px;
}